@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.navbar-brand {
    color: #3562FF;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.nav-item {
    color: #B2B1B7;
    font-size: 16px; 
    font-weight: bold;   
}

.nav-item:hover {
    color: #0b0270;
}

.login {
    color: #7d7d81;
    padding-right: 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

h1 {
    color: #3562FF;
    padding-top: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    font-weight: bold;
}

.description {
    color: #787878;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;     
}

.sign-up-btn {
    background-color: #00BC7D;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;    
    font-weight: 800;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.sign-up-btn:hover {
    background-color: #29A179;
}

.welcome-section {
    background-color: #ffffff;
    padding: 45px;
    min-height: 670px;
}

h6 {
    color: #3562FF;
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.about-section {
    background-image: url(../images/pattern-background-desktop.svg);   
    background-size: no-repeat;
    padding-top: 45px;
    min-height: 437px;
}

.about-description {
    color: #717171;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;     
}     

h5 {
    color: #29A179;
    padding-top: 30px;
    font-weight: 300;
}

.equip-section {
    background-color: #ffffff;
    padding: 45px;    
}

.multi-col {
    background-color: #ffffff; 
    color: #717171;  
    margin: 30px;   
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    text-align: justify;     
    width: 250px;
    padding: 11px;
    min-height: 300px; 
}

.read-more-btn {
    background-color: transparent;
    color: #3562FF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;    
    font-weight: bold;
    width: 150px;
    height: 40px;
    border: 1px solid #3562FF;
    border-radius: 5px;    
}  

.read-more-btn:hover {
    color: #15247C;
}

.labs-section {
    background-color: #f7f9f8;
    padding: 50px;
    min-height: 500px;
}

.labs-paragraph {    
    color: #717171;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;        
    padding-top: 25px;
    padding-bottom: 35px; 
}

.labs-col {
    background-color: #f7f9f8;  
    color: #717171;  
    margin: 30px;   
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    text-align: justify;     
    width: 250px;
    padding: 10px;
    min-height: 300px; 
}

.rules-section {
    background-image: url(../images/Untitled.svg);   
    background-size: cover;
    background-color: #e7e8ea;   
    padding-top: 45px;
    min-height: 400px;
}

.management-section {
    background-color: #f7f9f8;
    padding-top: 45px;
    min-height: 450px;
}




















footer {
    background-color: #036b48ab;    
    color: #fff;
    padding-top: 30px;
    min-height: 220px;
}

.shortly-footer {
   font-family: 'Poppins', sans-serif;
   font-size: 25px;
   font-weight: bold;  
}

.items-col {
    font-family: 'Poppins', sans-serif;;
    font-size: 14px;
    line-height: 1.8rem;
}

.social-media {
    padding-right: 15px;
}

